.one{
    background-color: rgb(25, 22, 44);
    color: white; 
    box-shadow: 1px 5px 10px 10px rgba(0, 0, 0, 0.584);
    position: sticky;
    left: 0;
    height: auto;

}

.two{
    background-color: rgb(18, 16, 38);
    color: white; 
}

.three{
    background-color: rgb(25, 22, 44);
    color: white; 
    height: 44.5rem;
}

.search{
    width: 20rem;
    margin-left: 1rem;
    margin-top: 2rem;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.367);
    border-radius: 1rem;
    height: 3.5rem;
    outline: none;
    border: none;
    padding-left: 2rem;
    background-color: rgb(25, 22, 44);
}

.sec{
    height: 590px;
    margin-left: 1rem;
    margin-top: 2rem;
    overflow-y: scroll;
}

.banner{
    height: 20rem;
    width: 100%;
    margin-left: -10px
}

.web{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.con{
    width: 100%;
    height: 700px;
    background-color: rgb(25, 22, 44);
    margin-left: -10px;
    margin-top: 1rem;
    border-radius: 0.3rem;
}

.flex{
    display: flex;
    background-color: red;
    height: 50px;
}