.one{
    background-color: rgb(25, 22, 44);
    color: white; 
    box-shadow: 1px 5px 10px 10px rgba(0, 0, 0, 0.584);
    top: 0;
    left: 0;
    height: 44.5rem;

}

.two{
    background-color: rgb(18, 16, 38);
    color: white; 
}

.three{
    background-color: rgb(18, 16, 38);
    color: white; 
    height: 44.5rem;
}

.search{
    width: 20rem;
    margin-left: 1rem;
    margin-top: 2rem;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.367);
    border-radius: 1rem;
    height: 3.5rem;
    outline: none;
    border: none;
    padding-left: 2rem;
    background-color: rgb(25, 22, 44);
}

.sec{
    height: 590px;
    margin-left: 1rem;
    margin-top: 2rem;
    overflow-y: scroll;
}

.ht{
    height: 15px;
}

.banner{
    height: 20rem;
    width: 100%;
    margin-left: -10px
}

.web{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.con{
    width: 100%;
    height: auto;
    background-color: rgb(25, 22, 44);
    margin-left: -10px;
    margin-top: 1rem;
    border-radius: 0.3rem;
}

.flex{
    display: flex;
    height: 50px;
}

.pop{
    background-color: transparent;
    border: 2px solid rgb(90, 69, 139);
    padding: 1rem;
    font-weight: 600;
    height: 2.5rem;
    border-radius: 0.4rem;
    margin-left: -1rem;
    color: rgb(194, 194, 194);
    padding-top: 0.3rem;
}

.all{
    margin-left: 70px;
    color: white;
    background-color: rgb(219, 0, 150);
    height: 2.5rem;
    border-radius: 0.4rem;
    font-weight: 600;
    width: 4rem;
    border: 2px solid transparent;
}

.grid{
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 320px;
    gap: 20px;
    padding-bottom: 1rem;

}

.red{
   background-color: rgb(35, 31, 62); 
   border-radius: 0.5rem;
}

.mag{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.popi{
    background-color: transparent;
    border: 2px solid rgb(90, 69, 139);
    padding: 0.5rem;
    font-weight: 100;
    font-size: 15px;
    width: 5rem;
    height: 2rem;
    border-radius: 0.4rem;
    margin-left: 2rem;
    color: rgb(194, 194, 194);
    padding-top: 0.2rem;
}

.alli{
    color: white;
    background-color: rgb(219, 0, 150);
    height: 2rem;
    border-radius: 0.4rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 7rem;
    border: 2px solid transparent;
}

.bell{
    background-color: rgb(25, 22, 44);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.367);
    width:40px;
    height: 40px;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 10rem;
}

.stats{
    background-color: rgb(25, 22, 44);
    border-radius: 0.3rem;
    height: 370px;
    margin-top: 3rem;
}

.art{
    background-color: rgb(35, 31, 62);
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.367);
    width: 90%;
    margin-left: 5%;
    margin-top: 0.7rem;
    font-weight: 600;
}


.arty{
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 0.7rem;
    font-weight: 600;
}