*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    background-color: rgb(25, 22, 44);
    color: white; 
    box-shadow: 1px 5px 10px 10px rgba(0, 0, 0, 0.584);
    height: 100vh;
}

.two{
    background-color: rgb(18, 16, 38);
    color: white; 
}

.search{
    width: auto;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.367);
    border-radius: 1rem;
    height: 3.5rem;
    outline: none;
    border: none;
    padding-left: 2rem;
    background-color: rgb(25, 22, 44);
}

.bell{
    height: 25px;
    width: 50px;
    margin-top: 2rem;
}

.olly{
    height: 45px;
    width: 70px;
    margin-top: 1.5rem;
    border-radius: 100%;
}

.wee{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1.5rem;
}

.three{
    background-color: rgb(18, 16, 38);
}

.web{
    width:100%;
    height: 100%;
    border-radius: 0.5rem;
}

.feed-card{
    background-color: rgb(25, 22, 44);
}

.flex{
    display: flex;
    height: 50px;
}

.pop{
    background-color: transparent;
    border: 2px solid rgb(90, 69, 139);
    padding: 0.5rem;
    font-weight: 600;
    height: 2.5rem;
    border-radius: 0.4rem;
    font-size: .8rem;
    color: rgb(194, 194, 194);
    padding: auto;
    width: auto;
    padding-top: 0.3rem;
}

.all{
    color: white;
    background-color: rgb(219, 0, 150);
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: .8rem;
    font-weight: 600;
    width: 2rem;
    padding-top: 0.3rem;
    border: 2px solid transparent;
}

.ht{
    height: 15px;
}


.popi{
    background-color: transparent;
    border: 2px solid rgb(90, 69, 139);
    padding: 0.5rem;
    font-weight: 100;
    font-size: 12px;
    width: 5rem;
    height: 2rem;
    border-radius: 0.4rem;
    margin-left: 2rem;
    color: rgb(194, 194, 194);
    padding-top: 0.2rem;
}

.alli{
    color: white;
    background-color: rgb(219, 0, 150);
    height: 2rem;
    border-radius: 0.4rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 5rem;
    font-size: 10px;
    border: 2px solid transparent;
}

.mad{
    margin-right: 2rem;
}

.bod{
    margin-top: 3rem;
    margin-left: .4rem;
}

.num{
    border-radius: 0.3rem;
    background-color: rgb(25, 22, 44);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.584);
    color: rgb(255, 255, 255);
}

.art{
    background-color: rgb(35, 31, 62);
    padding: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.367);
    width: 90%;
    margin-left: 5%;
    margin-top: 0.3rem;
    font-size: 15px;
    font-weight: 600;
}

.arty{
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-size: 15px;
    width: 90%;
    margin-left: 5%;
    margin-top: 0.3rem;
    font-weight: 600;
}

.spa{
    position: absolute;
    margin-left: 18rem;
    display: block;
    margin-top: -1.5rem;
}

.jane{
    height: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
}

.flow{
    display: flex;
    margin-top: 0.5rem;
}

.btnn{
    background-color: rgb(219, 0, 150);
    color: white;
    margin-left: 250px;
    display: block;
    height: 1.8rem;
    position: absolute;
    margin-top: 0.1rem;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0.3rem;
}

